.post-page-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "post-content recommend-bar";
}

.post-content {
    grid-area: post-content;
}

.recommend-bar {
    grid-area: recommend-bar;
    border: 0.05rem solid #000000;
}